*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 

header{
	width: 100vw;
	height: 100vh;
	background-image: url("./images/marcos-paulo-prado-yHL7WxJFvI8-unsplash.jpg");
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

a {
	text-decoration: none;
}

.header-content{
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
}

.header-content h2{
	font-size: 4vmin;
}

.line{
	width: 150px;
	height: 4px;
	background: crimson;
	margin: 10px auto;
}

.header-content h1{
	font-size: 7vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}

ul{
	list-style: none;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;

}

.nav-links{
	display: flex;
	align-items: center;
}

.nav-links li{
	margin: 0 30px;
}

.ctn{
	padding: 8px 15px;
	background: crimson;
	border-radius: 30px;
	color: whitesmoke;
}

.menu-btn{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	 width: 35px;
	 cursor: pointer; 
	 display: none; 
}

.active{
	color: crimson;
	text-decoration: underline;
	font-weight: bold;
}

/* Mobile device  */
@media only screen and (max-width:850px) {

	.menu-btn{
		display: block;
	}
	
	.navbar{
		padding: 0;
	}

	.logo{
		position: absolute;
		top: 30px;
		left: 30px;
	}
	
	.nav-links{
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background: #484872;
		margin-top: -900px;
		transition: all 0.5s ease;
	}

	.mobile-menu{
		margin-top: 0px;
		border-bottom-right-radius: 30%;
	}

	.nav-links li{
		margin: 30px auto;
	}
}