<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Adventure</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" type="image/x-icon" href="../images/download.png">

    </head>

    <body>

      <header>
        <div class="header-content">
          <h2>Explore The Colorful World</h2>
          <div class="line"></div>
          <h1>A Wonderful gift</h1>

          <a href="#" class="ctn">Learn More</a>
        </div>
      </header>
        
    </body>
</html>