<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kenny rogers tribute page.</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="../images/download.jpeg">
 <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>
<body>
    <section id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center py-4">
                    <img src="../images/kenny.jpeg" alt="Irrfan khan image" width="300px" height="300px">
                </div>
                
                <div class="col-md-6">
                    <p class="promo-title text-center">Kenny rogers</p>
                    <p>He was inducted into the Country Music Hall of Fame in 2013. Rogers was particularly 
                       popular with country audiences but also charted more than 420 hit singles across various genres,
                       topping the country and pop album charts for more than 200 individual weeks in the United States 
                       alone. He sold more than 100 million records worldwide during his lifetime, making him one of the 
                       best-selling music artists of all time. His fame and career spanned multiple genres: <b>jazz, folk,
                       pop, rock, and country</b>. He remade his career and was one of the most successful cross-over artists
                       of all time.</p>
                       
                       <div class="text-center">
                           <a href="https://en.wikipedia.org/wiki/Kenny_Rogers" class="btn btn-primary">READ MORE ON WIKI</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="life">
            <div class="container" id="education">
                <h1 class="title text-center font-weight-bold">Early life and education.</h1>
                <ul class="py-4">
                    <br>
                    <br>
                    <li> Rogers was born the fourth of eight children on August 21, 1938, at St Joseph's
                         Infirmary in Houston, Texas.</li>
                    <li> His parents were Lucille Lois Rogers (née Hester; 1910-1993), a nurse's assistant, and
                         Edward Floyd Rogers (1904-1975), a carpenter.</li>
                    <li> In 1986, on The Phil Donahue Show, Rogers told the audience that he was the first person
                         in his family <q>as far back as we know</q> to
                         graduate from high school. <b><q>We were broke</q></b>. We lived in a federal housing project. I think
                         the most money my father ever made was $75 a week. </li>
                    <li> In 1949, Rogers won a talent show at the Texan Theatre. He served as a busboy at the Rice
                         Hotel and swept floors at a hat store for $9 a week.
                         He later attended the University of Houston.</li>
                </ul>
            </div>
        </section>
        
        <section id="national-recognition">
            <div class="container" id="recognition">
                <h1 class="title text-center font-weight-bold">National recognition.</h1>
                <ul class="py-4">
                    <br>
                    <br>
                    <li> Rogers's first outing for his new label was Love Lifted Me. The album charted and two
                         singles, <q><b>Love Lifted Me</b></q> and <q><b>While the Feeling's Good</b></q>, were minor hits.</li>
                    <li> The song <q><b>Runaway Girl</b></q> was featured in the film Trackdown (1976).</li>
                    <li> The single <q><b>Lucille</b></q> (1977) was a major hit, reaching number one on the pop charts in
                         12 countries, selling over five million copies, and firmly establishing Rogers's
                         post-First Edition career. On the strength of <strong><q>Lucille</q></strong>, the album Kenny Rogers reached
                         No. 1 on the Billboard Country Album Chart.</li>
                    <li> In the late 1970s, Rogers teamed up with close friend and Country Music legend Dottie
                         West for a series of albums and duets. Together the duo won two gold records
                         (one of which later went platinum), two CMA Awards, an ACM nomination, two Grammy nominations
                         and 1 Music City News Award for their two hit albums Every Time Two Fools
                         Collide (No. 1) and Classics (No. 3), selling out stadiums and arenas while on tour for several
                         years, as well as appearing on several network television specials
                         which showcased them.</li>
                </ul>
            </div>
        </section>
        
        
        <section id="international-success">
            <div class="container" id="success">
                <h1 class="title text-center font-weight-bold">International success</h1>
                <ul class="py-4">
                    <br>
                    <br>
                    
                    <li> In 1981, Rogers bought the old ABC Dunhill building and built one of the most
                         popular and state-of-the-art recording studios in Los Angeles. The song
                    <b>  "We Are the World"</b> was recorded there and at A & M Records.</li>
                    <li> The next few years saw Rogers scoring several top country hits on a regular
                         basis, including "Twenty Years Ago", "Morning Desire", "Tomb of the Unknown Love",
                         among others. On January 28, 1985, Rogers was one of the 45 artists who recorded the
                         worldwide charity song "We Are the World" to support hunger victims in Africa. The
                         following year he played at Giants Stadium</li>
                    <li> In 1988, Rogers won a Grammy Award for "Best Country Collaboration with Vocals" with
                         Ronnie Mils-ap: <b>"Make No Mistake, She's Mine"</b>. </li>
                    <li> In doing so, he broke a 26-year-old record held by Hank Snow (who, in April 1974, was
                         aged 59 when he scored with "Hello Love").</li>
                    <li> In the 21st century (and at age 61), Rogers was back at No. 1 for the first time in more
                         than a decade with the 2000 single "Buy Me a Rose".</li>
                </ul>
            </div>
        </section>
        
        <section id="quote">
            
            <div class="container" id="deep">
                <h1 class="title text-center font-weight-bold">Kenny rogers's quote</h1>
                
                <ul class="py-4">
                    <br>
                    <br>
                    <li> Music should make you laugh, make you think If it doesn't
                         do one of those three things, then you're wasting everybody's time</li>
                    <li> Youth is a frame of mind. If you get out there and enjoy it, you can have
                         it at any time of your life.</li>
                    <li> You need three things in your life to be happy: someone to love, something
                         to do and something to look forward to. </li>
                    <li> You can't make old friends. You either have them or you don't.</li>
                    <li> There's a story behind every person. There's a reason why they're the way they are.
                         Think about that before you judge.</li>
                    <li> If you want people to know what your message is, just sing it.</li>
                    <li> I'm so totally future oriented that, for me, I don't know what the future's about, but
                         I can promise you it's gonna be exciting.</li>
                    <li> Stay away from trouble when you can.</li>
                    <li> Here's what I've learned about raising boys... If you keep 'em busy, they're fine.
                         You let 'em get bored, they'll dismantle your house board by board.</li>
                    <li> It is difficult to get played at my age on the radio.</li>
                    <li> There is a trade-off - as you grow older you gain wisdom, but you lose spontaneity.</li>
                </ul>
            </div>
        </section>
        
        <section id="death">
            <div class="container" id="illness">
                <h1 class="title text-center font-weight-bold">Illness, burial and death</h1>
                <ul class="py-4">
                    <br>
                    <br>
                    <p> On March 20, 2020, Rogers, at age 81, died from natural causes while under hospice care at
                        his home in Sandy Springs, Georgia. He is interred in Oakland
                        Cemetery in Atlanta. For the first two-thirds of the show, an impressive array of stars —
                    <strong> Reba McEntire, Lionel Richie, Chris Staple-ton, Lady A, Little Big Town</strong> and <strong>Idina Menzel</strong>
                        each take a turn performing from Rogers' vast library of hits.
                    </p>
                </ul>
            </div>
        </section>
        
        <section id="movies">
            <div class="container">
                <h1 class="title text-center font-weight-bold">Movies and Roles</h1>
                <div class="col-md-12 py-4 table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <br>
                            <tr>
                                <th scope="col">YEAR</th>
                                <th scope="col">TITLE</th>
                                <th scope="col">ROLE</th>
                                <th scope="col">NOTE</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <th scope="row">1973</th>
                                <th scope="row">Saga of sonora</th>
                                <th scope="row">Balladeer</th>
                                <th scope="row">Made-for-TV film directed by <b>"marty pasetta"</b></th>
                            </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                                <th scope="row">1975</th>
                                <th scope="row">The Dream Makers</th>
                                <th scope="row">Earl</th>
                                <th scope="row">Made-for-TV film directed by <b>"Boris Sagal"</b></th>
                            </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                                <th scope="row">1980</th>
                                <th scope="row">Kenny Rogers as The Gambler</th>
                                <th scope="row">Brady Hawkes</th>
                                <th scope="row">""</th>
                            </tr>
                        </tbody>
                        
                        
                        <tbody>
                            <tr>
                                <th scope="row">1981</th>
                                <th scope="row">Coward of the County</th>
                                <th scope="row">Uncle Matthew</th>
                                <th scope="row">"" </th>
                            </tr>
                        </tbody>
                  
                        <tbody>
                  
                            <tr>
                                <th scope="row">1983</th>
                                <th scope="row">Kenny Rogers as The Gambler: The Adventure Continues</th>
                                <th scope="row">Brady Hawkes</th>
                                <th scope="row">Made-for-TV film directed by<b>"Dick Lowry"</b></th>
                            </tr>
                        </tbody>

                  
                        <tbody>
                            <tr>
                                <th scope="row">1985</th>
                                <th scope="row">Wild Horses</th>
                                <th scope="row">Matt Cooper	</th>
                                <th scope="row">Made-for-TV film directed by<b>"Dick Lowry"</b></th>
                            </tr>
                        </tbody>

                  
                        <tbody>
                            <tr>
                                <th scope="row">1987</th>
                                <th scope="row">Kenny Rogers as The Gambler, Part III: The Legend Continues</th>
                                <th scope="row">Brady Hawkes</th>
                                <th scope="row">Made-for-TV film directed by<b>"Dick Lowry"</b></th>
                            </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                                <th scope="row">1990</th>
                                <th scope="row">Christmas in America</th>
                                <th scope="row">Frank Morgan</th>
                                <th scope="row">Made-for-TV film directed by<b>"Eric Till"</b></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
        <section id="favourite">
            <div class="container" id="more">
                <h1 class="title text-center font-weight-bold">My favourite songs of kenny roger</h1>
                <ul class="py-4">
                    <br>
                    <br>
                    <li><a href="https://www.youtube.com/watch?v=Y4ASXyWw7d8&ab_channel=KennyRogersfan1">All my life</a></li>
                    <li> <a href="https://www.youtube.com/watch?v=Hg0OLeTRgFw&ab_channel=thundereye92"> Buy me a rose</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=7hx4gdlfamo&ab_channel=KennyRogersVEVO">The gambler</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=2W7gp47OT_Q&ab_channel=Verysweetify"> You decorated my life</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=efX-Ll7BrsU&ab_channel=LyricStudio"> She believes in me</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=qJ4BHM9CgGU&ab_channel=KennyRogersVEVO"> Through the years</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=GaxAR2eEjBw&ab_channel=KennyRogers-Topic"> Crazy</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=UaNGtgYwSsU&ab_channel=DollyPartonVEVO"> Islands in the stream</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=BbYj3tJRSO8&ab_channel=FernandoSanchez">Coward of the country</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=rx-PzF1vM_M&ab_channel=KennyRogersVEVO"> We've got tonight</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=kulJsH8v0ok&ab_channel=KennyRogersVEVO"> Lucille</a></li>
                    <li> <a href="https://www.youtube.com/watch?v=7XNrdRCIzxI&ab_channel=Johisfas"> Love lifted me</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=c-Y1lLVmIyE&ab_channel=JohnWilson"> Don't fall in love with a dreamer</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=iQ9QvfnIJUk&ab_channel=joerowlinson"> Daytime friends</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=eXaICZyEWH8&ab_channel=KennyRogers-Topic"> I can't un-love you</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=h3utRFEMb-0&ab_channel=KennyRogers-Topic"> Love the world away</a> </li>
                    <li> <a href="https://www.youtube.com/watch?v=bWSx-xrv45Q&ab_channel=aManOnaJourney"> My love --> lionel richie ft kenny rogers</a> </li>
                </ul>
            </div>
        </section>
        
        <marquee direction="left">
            <strong>
                REST IN PERFECT PEACE KENNY, I LOVE YOU.</strong>&#9785 &#9785 &#9785
            </marquee>
            
            <footer>
                <p class="text-center font-weight-bold">All rights reserved &copy; zip-demon</p>
            </footer>

</body>
</html>