<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Adventure</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="icon" type="image/x-icon" href="../images/download.png">

    </head>

    <body>

      <nav class="navbar">
        <h1 class="logo">ADVENTURE</h1>
        <ul class="nav-links">
          <li class="active"><a href="#"></a>Home</li>
          <li><a href="#"></a>Tours</li>
          <li><a href="#"></a>Explore</li>
          <li><a href="#"></a>About</li>

          <li class="ctn" href="#"></a>Contact</li>

        </ul>

        <img src="../images/menu-btn.png" alt="" class="menu-btn">

      </nav>

      <header>
        <div class="header-content">
          <h2>Explore The Colorful World</h2>
          <div class="line"></div>
          <h1>A Wonderful Gift</h1>

          <a href="#" class="ctn">Learn More</a>
        </div>
      </header>

      <!-- Events -->

      <section class="events">
        
        <div class="title">
          <h1>Upcoming Events</h1>
          <div class="line"></div>
        </div>

        <div class="row">
          <div class="col">
            <img src="/images/img2.png" alt="">
            <h4>Everest Camp Trek</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quisquam, amet rerum nobis vel architecto consequuntur repudiandae illum, nam sunt doloribus maxime saepe corporis quo consequatur consectetur odio debitis labore.</p>
            <a href="#" class="ctn">Learn More</a>
          </div>

          <div class="col">
            <img src="/images/img1.png" alt="">
            <h4>Walking Holidays</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quisquam, amet rerum nobis vel architecto consequuntur repudiandae illum, nam sunt doloribus maxime saepe corporis quo consequatur consectetur odio debitis labore.</p>
            <a href="#" class="ctn">Learn More</a>
          </div>

        </div>
      </section>


      <script>
        const menuBtn = document.querySelector(".menu-btn")
        const navlinks = document.querySelector(".nav-links")
        menuBtn.addEventListener('click', ()=>{
          navlinks.classList.toggle('mobile-menu')
        })
      </Script>
    </body>
</html>